@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:400,100,500,700,300,200,600,800,900|Rokkitt:400,700);
/* line 2, ../sass/_main.scss */
.buttons .button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
/* line 14, ../sass/_main.scss */
.buttons .button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* line 18, ../sass/_main.scss */
.button_left {
  left: 0;
}

/* line 21, ../sass/_main.scss */
.button_right {
  right: 0;
}

/* line 25, ../sass/_main.scss */
.experience {
  color: #000000;
}
/* line 27, ../sass/_main.scss */
.experience .position {
  font-family: "Rokkitt", serif;
  padding: 30px;
  max-width: 650px;
  margin: 0 auto;
}
/* line 32, ../sass/_main.scss */
.experience .position .title {
  font-size: 48px;
  font-family: "Raleway", sans-serif;
  line-height: 100%;
  margin: 4px 0px;
}
/* line 38, ../sass/_main.scss */
.experience .position .company {
  font-size: 22px;
  text-transform: uppercase;
}
/* line 42, ../sass/_main.scss */
.experience .position .line {
  font-size: 16px;
  margin: 4px 0px;
}

/* line 7, ../sass/styles.scss */
body {
  font-family: "Rokkitt", serif;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FC8C85;
}
