/* line 10, ../sass/style.scss */
body {
  margin: 0;
}

/* line 14, ../sass/style.scss */
#name {
  background: #1695A3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
/* line 23, ../sass/style.scss */
#name p {
  margin: auto;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  font-weight: 200;
  font-size: 12pt;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 42, ../sass/style.scss */
#extra {
  background: #F3FFE2;
  height: 800px;
}

/* line 47, ../sass/style.scss */
#extra2 {
  background: #EB6F00;
  height: 800px;
}
