@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,500,700,300,200,600,800,900);
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
/* line 1, ../sass/_main.scss */
.color-pallette {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}
/* line 9, ../sass/_main.scss */
.color-pallette .color {
  display: block;
  margin: 10px;
  width: 70px;
  height: 70px;
}
/* line 15, ../sass/_main.scss */
.color-pallette .color1 {
  background-color: #2980B9;
}
/* line 18, ../sass/_main.scss */
.color-pallette .color2 {
  background-color: #2C3E50;
}
/* line 21, ../sass/_main.scss */
.color-pallette .color3 {
  background-color: #3498DB;
}
/* line 24, ../sass/_main.scss */
.color-pallette .color4 {
  background-color: #E74C3C;
}

/* line 29, ../sass/_main.scss */
a {
  color: #ECF0F1;
  font-style: italic;
  text-decoration: none;
}

/* line 35, ../sass/_main.scss */
.section {
  width: 100%;
  min-height: 400px;
  color: #ECF0F1;
}

/* line 41, ../sass/_main.scss */
header {
  width: 100%;
  height: 500px;
  background-color: #FAE896;
}

/* line 48, ../sass/_main.scss */
.education .subsection {
  position: relative;
}
/* line 3, ../sass/_mixins.scss */
.education .subsection svg {
  display: block;
  margin: 50px auto;
  width: 800px;
  height: 800px;
}
/* line 8, ../sass/_mixins.scss */
.education .subsection svg .bubble {
  fill: #2980B9;
  cx: 400px;
  cy: 400px;
}
/* line 51, ../sass/_main.scss */
.education .degree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 480px;
}

/* line 57, ../sass/_main.scss */
.projects .subsection {
  position: relative;
}
/* line 3, ../sass/_mixins.scss */
.projects .subsection svg {
  display: block;
  margin: 50px auto;
  width: 800px;
  height: 800px;
}
/* line 8, ../sass/_mixins.scss */
.projects .subsection svg .bubble {
  fill: #2C3E50;
  cx: 400px;
  cy: 400px;
}
/* line 60, ../sass/_main.scss */
.projects .project {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 480px;
}

/* line 66, ../sass/_main.scss */
.experience .subsection {
  position: relative;
}
/* line 3, ../sass/_mixins.scss */
.experience .subsection svg {
  display: block;
  margin: 50px auto;
  width: 800px;
  height: 800px;
}
/* line 8, ../sass/_mixins.scss */
.experience .subsection svg .bubble {
  fill: #3498DB;
  cx: 400px;
  cy: 400px;
}
/* line 69, ../sass/_main.scss */
.experience .position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 480px;
}

/* line 75, ../sass/_main.scss */
.skills .subsection {
  position: relative;
}
/* line 3, ../sass/_mixins.scss */
.skills .subsection svg {
  display: block;
  margin: 50px auto;
  width: 800px;
  height: 800px;
}
/* line 8, ../sass/_mixins.scss */
.skills .subsection svg .bubble {
  fill: #E74C3C;
  cx: 400px;
  cy: 400px;
}
/* line 78, ../sass/_main.scss */
.skills .list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 480px;
}

/* line 83, ../sass/_main.scss */
footer {
  width: 100%;
  height: 500px;
  background-color: #2980B9;
  color: #ECF0F1;
}
/* line 89, ../sass/_main.scss */
footer h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 28px;
  font-weight: 100;
}
/* line 99, ../sass/_main.scss */
footer .buttons {
  margin: 0 auto;
  width: auto;
}
/* line 102, ../sass/_main.scss */
footer .buttons .button {
  width: 350px;
  height: auto;
  display: block;
  font-size: 30px;
  padding: 15px 19px;
  margin: 0px auto;
  border-radius: 3px;
  color: #2980B9;
  background-color: #ECF0F1;
  transition: all 150ms ease-in-out;
  text-align: center;
  cursor: pointer;
  font-weight: 100;
}
/* line 116, ../sass/_main.scss */
footer .buttons .button:hover {
  background-color: rgba(236, 240, 241, 0.54);
}

/* line 9, ../sass/styles.scss */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ECF0F1;
}
