.buttons {
  .button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: $buttonwidth;
    height: $buttonheight;
    z-index: 1;
    background-color: $buttonbackground;
    transition: all 150ms ease-in-out;
    cursor: pointer;
  }
  .button:hover {
    background-color: $buttonhover;
  }
}
.button_left {
  left: 0;
}
.button_right {
  right: 0;
}

.experience {
  color: $black;
  .position {
    font-family: $Rokkitt;
    padding: 30px;
    max-width: 650px;
    margin: 0 auto;
    .title {
      font-size: 48px;
      font-family: $Raleway;
      line-height: 100%;
      margin: 4px 0px;
    }
    .company {
      font-size: 22px;
      text-transform: uppercase;
    }
    .line {
      font-size: 16px;
      margin: 4px 0px;
    }
  }
}