.color-pallette {
  $palletteWidth: 80px;
  $spacing: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  .color {
    display: block;
    margin: $spacing;
    width: $palletteWidth - $spacing;
    height: $palletteWidth - $spacing;
  }
  .color1 {
    background-color: $educationColor;
  }
  .color2 {
    background-color: $projectsColor;
  }
  .color3 {
    background-color: $experienceColor;
  }
  .color4 {
    background-color: $skillsColor;
  }
}

a {
  color: $white;
  font-style: italic;
  text-decoration: none;
}

.section {
  width: 100%;
  min-height: 400px;
  color: $white;
}

header {
  width: 100%;
  height: 500px;
  background-color: $yellow;
}

.education {
  .subsection {
    @include bubble($educationBubbleSize, $educationColor);
  }
  .degree {
    @include centerInBubble($educationBubbleSize, 0.6, left);
  }
}

.projects {
  .subsection {
    @include bubble($projectBubbleSize, $projectsColor);
  }
  .project {
    @include centerInBubble($projectBubbleSize, 0.6, left);
  }
}

.experience {
  .subsection {
    @include bubble($tmdBubbleSize, $experienceColor);
  }
  .position {
    @include centerInBubble($tmdBubbleSize, 0.6, left);
  }
}

.skills {
  .subsection {
    @include bubble($skillsBubbleSize, $skillsColor);
  }
  .list {
    @include centerInBubble($skillsBubbleSize, 0.6, left);
  }
}

footer {
  width: 100%;
  height: 500px;
  background-color: $blue;
  color: $white;

  h1 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 100;
  }

  .buttons {
    margin: 0 auto;
    width: auto;
    .button {
      width: 350px;
      height: auto;
      display: block;
      font-size: 30px;
      padding: 15px 19px;
      margin: 0px auto;
      border-radius: 3px;
      color: $blue;
      background-color: $white;
      transition: all 150ms ease-in-out;
      text-align: center;
      cursor: pointer;
      font-weight: 100;
      &:hover {
        background-color: $hoverwhite;
      }
    }
  }

  
}