$color1: #225378;
$color2: #1695A3;
$color3: #ACF0F2;
$color4: #F3FFE2;
$color5: #EB6F00;
$div_size: 800px;
$sans_font: 'Roboto', Arial, sans-serif;
$font_weight: 200;

body {
	margin: 0;
}

#name {
	background: $color2;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;	
	p {
		margin: auto;
		font-family: $sans_font;
		color: white;
		font-weight: $font_weight;
		font-size: 12pt;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

#extra {
	background: $color4;
	height: $div_size;
}

#extra2 {
	background: $color5;
	height: $div_size;
}