/* 
    Created on : Jun 25, 2015, 9:16:17 PM
    Author     : Nick
*/
/* 
    Created on : Jun 25, 2015, 9:25:38 PM
    Author     : Nick
*/
/* 
    Created on : Jun 27, 2015, 12:50:38 PM
    Author     : Nick
*/
/*********************** Global Default Styles ***********************/
/* line 7, ../sass/_main.scss */
.section {
  width: 100%;
}
/* line 9, ../sass/_main.scss */
.section .inside {
  max-width: 1200px;
  width: 80%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, ../sass/_main.scss */
.text_section {
  height: 600px;
}

/* line 18, ../sass/_main.scss */
.graphic_section {
  min-height: 750px;
  height: auto;
}
/* line 21, ../sass/_main.scss */
.graphic_section .inside {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*********************** Section-specific Styles ***********************/
/* line 35, ../sass/_main.scss */
#title_section {
  background-color: #2C3E50;
  min-height: 600px;
  height: auto;
}
/* line 39, ../sass/_main.scss */
#title_section .inside {
  padding: 0px 40px;
  padding-bottom: 40px;
}
/* line 42, ../sass/_main.scss */
#title_section .inside #flag {
  min-width: 150px;
  width: 10%;
  padding-top: 400px;
}
/* line 46, ../sass/_main.scss */
#title_section .inside #flag svg {
  fill: #FFFFFF;
}
/* line 50, ../sass/_main.scss */
#title_section .inside #main_title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 50px;
  color: #FFFFFF;
}
/* line 58, ../sass/_main.scss */
#title_section .inside #author {
  font-size: 14px;
  color: #FFFFFF;
}
/* line 62, ../sass/_main.scss */
#title_section .inside #description {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 100;
  color: #FFFFFF;
}

/* line 75, ../sass/_main.scss */
#break1 {
  background-color: #2980B9;
}

/* line 45, C:/Ruby21/lib/ruby/gems/2.1.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#chart_4D_section .inside:before, #chart_4D_section .inside:after {
  content: "";
  display: table;
}
/* line 50, C:/Ruby21/lib/ruby/gems/2.1.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#chart_4D_section .inside:after {
  clear: both;
}
/* line 83, ../sass/_main.scss */
#chart_4D_section .inside .question_prompt {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-bottom: 60px;
}
/* line 88, ../sass/_main.scss */
#chart_4D_section .inside .question_prompt .main_question {
  padding-bottom: 5px;
  font-size: 36px;
  font-weight: 500;
  color: #2980B9;
}
/* line 101, ../sass/_main.scss */
#chart_4D_section .inside .sexual_assault_type {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-bottom: 60px;
}
/* line 106, ../sass/_main.scss */
#chart_4D_section .inside .sexual_assault_type p {
  text-align: center;
  font-size: 24px;
}
/* line 111, ../sass/_main.scss */
#chart_4D_section .inside .sexual_assault_type #types_of_sexual_assault .sa_tile {
  float: left;
  width: 125px;
  height: 125px;
  padding: 10px;
  margin: 10px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 3px;
  background-color: #FFFFFF;
  border: 1px solid #2980B9;
  color: #2980B9;
}
/* line 132, ../sass/_main.scss */
#chart_4D_section .inside #circumstance_of_sexual_assault {
  clear: both;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-bottom: 30px;
  text-align: center;
  font-size: 24px;
}
/* line 140, ../sass/_main.scss */
#chart_4D_section .inside #chart_4D {
  clear: both;
  float: left;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: -66.66667%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 600px;
}
/* line 146, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 40px 30px;
  padding-top: 0px;
}
/* line 151, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside {
  height: 600px;
  margin: 0 auto;
}
/* line 154, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_default_prompt {
  color: #BDBDBD;
  text-align: center;
}
/* line 158, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt {
  background-color: #F5F5F5;
  padding: 20px;
  border-radius: 3px;
}
/* line 162, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt h1 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 300;
}
/* line 167, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt p {
  margin: 0;
}
/* line 170, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_percentage {
  display: inline;
  padding: 5px 10px;
  font-size: 40px;
  font-weight: 300;
  border-radius: 3px;
}
/* line 177, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_percentage:after {
  content: "%";
}
/* line 180, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_series {
  font-size: 24px;
}
/* line 183, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_category_description {
  font-size: 18px;
}
/* line 186, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt .static {
  padding: 30px 0px 5px 0px;
  font-weight: 300;
}

/* line 196, ../sass/_main.scss */
#break2 {
  background-color: #2C3E50;
}

/* line 11, ../sass/styles.scss */
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}
