/* 
    Created on : Jun 25, 2015, 9:16:17 PM
    Author     : Nick
*/
/*
Hey! Are you a developer???
*/
/* 
    Created on : Jun 25, 2015, 9:25:38 PM
    Author     : Nick
*/
/* 
    Created on : Jun 27, 2015, 12:50:38 PM
    Author     : Nick
*/
/*********************** Global Default Styles ***********************/
/* line 7, ../sass/_main.scss */
.section {
  width: 100%;
}
/* line 9, ../sass/_main.scss */
.section .inside {
  max-width: 1500px;
  width: 80%;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* line 14, ../sass/_main.scss */
.text_section {
  height: 600px;
}

/* line 18, ../sass/_main.scss */
.graphic_section {
  min-height: 750px;
  height: auto;
}
/* line 21, ../sass/_main.scss */
.graphic_section .inside {
  padding-top: 40px;
  padding-bottom: 40px;
}

/*********************** Section-specific Styles ***********************/
/* line 35, ../sass/_main.scss */
#title_section {
  background-color: #2C3E50;
  min-height: 600px;
  height: auto;
}
/* line 40, ../sass/_main.scss */
#title_section .inside #flag {
  min-width: 150px;
  width: 10%;
  padding-top: 400px;
}
/* line 44, ../sass/_main.scss */
#title_section .inside #flag svg {
  fill: #FFFFFF;
}
/* line 48, ../sass/_main.scss */
#title_section .inside #main_title {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 50px;
  color: #FFFFFF;
}
/* line 56, ../sass/_main.scss */
#title_section .inside #author {
  font-size: 14px;
  color: #FFFFFF;
}
/* line 60, ../sass/_main.scss */
#title_section .inside #description {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 100;
  color: #FFFFFF;
}

/* line 73, ../sass/_main.scss */
#break1 {
  background-color: #2980B9;
}

/* line 45, C:/Ruby21/lib/ruby/gems/2.1.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#chart_4D_section .inside:before, #chart_4D_section .inside:after {
  content: "";
  display: table;
}
/* line 50, C:/Ruby21/lib/ruby/gems/2.1.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
#chart_4D_section .inside:after {
  clear: both;
}
/* line 81, ../sass/_main.scss */
#chart_4D_section .inside .question_prompt {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-bottom: 30px;
}
/* line 85, ../sass/_main.scss */
#chart_4D_section .inside .question_prompt .prefix {
  font-size: 32px;
  font-weight: 500;
  color: #2980B9;
}
/* line 97, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left {
  clear: both;
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 40px 0px;
}
/* line 103, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside {
  margin: 0 auto;
  text-align: center;
  vertical-align: top;
}
/* line 107, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_default_prompt {
  color: #BDBDBD;
}
/* line 111, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt p {
  margin: 0;
}
/* line 114, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_percentage {
  display: inline;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 40px;
  font-weight: 100;
}
/* line 121, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_percentage:after {
  content: "%";
}
/* line 124, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_series {
  font-size: 24px;
}
/* line 127, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt #chart_4D_category_description {
  font-size: 18px;
}
/* line 130, ../sass/_main.scss */
#chart_4D_section .inside .infographic_details_left .infographic_inside #chart_4D_selected_prompt .static {
  padding: 20px 0px;
  font-weight: 300;
}
/* line 137, ../sass/_main.scss */
#chart_4D_section .inside #chart_4D {
  float: left;
  width: 66.66667%;
  margin-left: 33.33333%;
  margin-right: -100%;
  padding-left: 6px;
  padding-right: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 600px;
}

/* line 145, ../sass/_main.scss */
#break2 {
  background-color: #2C3E50;
}

/* line 11, ../sass/styles.scss */
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}
