/* 
    Created on : Jun 27, 2015, 12:50:38 PM
    Author     : Nick
*/

/*********************** Global Default Styles ***********************/
.section {
    width: 100%;
    .inside {
        @include inside_section_params();
    }
}

.text_section {
    height: 600px;
}

.graphic_section {
    min-height: 750px;
    height: auto;
    .inside {        
        padding-top: 40px;
        padding-bottom: 40px;
        .infographic {
            
        }
    }
}

$zen-column-count: 6;
$zen-gutter-width: 12px;

/*********************** Section-specific Styles ***********************/

#title_section {
    background-color: $darkblue;
    min-height: 600px;
    height: auto;
    .inside {
        padding: 0px 40px;
        padding-bottom: 40px;
        #flag {
            min-width: 150px;
            width: 10%;
            padding-top: 400px;
            svg {
                fill: $white;
            }
        }
        #main_title {
            margin: 0;
            padding: 0;
            padding-bottom: 20px;
            font-weight: 300;
            font-size: 50px;
            color: $white;
        }
        #author {
            font-size: 14px;
            color: $white;
        }
        #description {
            padding-top: 10px;
            font-size: 18px;
            font-weight: 100;
            color: $white;
        }
    }
}

#chart1_section {
    
}

#break1 {
    background-color: $mediumblue;
}

#chart_4D_section {
    .inside {
        @include zen-grid-container;
        
        .question_prompt {
            @include zen-clear(both);
            @include zen-grid-item(6, 1);            
            padding-bottom: 60px;
            
            .main_question {
                padding-bottom: 5px;
                font-size: 36px;
                font-weight: 500;
                color: $mediumblue;
            }
            .description {
                
            }
            .suffix {
                
            }
        }
        .sexual_assault_type {
            @include zen-clear(both);
            @include zen-grid-item(6, 1);
            padding-bottom: 60px;
            
            p {
                text-align: center;
                font-size: 24px;
            }
            #types_of_sexual_assault {
                .sa_tile {
                    float: left;
                    width: $tile_side;
                    height: $tile_side;
                    padding: 10px;
                    margin: 10px;                    
                    font-weight: 300;
                    font-size: 16px;
                    @include round_corners();
                    
                    // Base styles - unselected
                    background-color: $white;
                    border: 1px solid $mediumblue;
                    color: $mediumblue;
                    
                    // Selected style
                    //background-color: $mediumblue;
                    //color: $white;
                }
            }
        }
        #circumstance_of_sexual_assault {
            @include zen-clear(both);
            @include zen-grid-item(6, 1);
            padding-bottom: 30px;
            
            text-align: center;
            font-size: 24px;
        }
        #chart_4D {
            @include zen-clear(both);
            @include zen-grid-item(4, 1);
            //display: inline-block;
            height: 600px;
        }
        .infographic_details_left {            
            @include zen-grid-item(2, 5);            
            
            padding: 40px 30px;
            padding-top: 0px;
            .infographic_inside {
                height: 600px;
                margin: 0 auto;
                #chart_4D_default_prompt {
                    color: $grey400;
                    text-align: center;
                }
                #chart_4D_selected_prompt {
                    background-color: $grey100;
                    padding: 20px;
                    @include round_corners();
                    h1 {
                        margin: 0;
                        margin-bottom: 20px;
                        font-weight: 300;
                    }
                    p {
                        margin: 0;
                    }
                    #chart_4D_percentage {
                        display: inline;
                        padding: 5px 10px;                        
                        font-size: 40px;
                        font-weight: 300;
                        @include round_corners();
                    }
                    #chart_4D_percentage:after {
                        content: "%"
                    }                    
                    #chart_4D_series {
                        font-size: 24px;
                    }
                    #chart_4D_category_description {
                        font-size: 18px;
                    }
                    .static {
                        padding: 30px 0px 5px 0px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

#break2 {
    background-color: $darkblue;
}